<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hczx.wms.dao.CompanyDao">

    <!-- 查找公司树形信息 -->
    <select id="listComZtreeInfo" resultType="com.hczx.wms.entity.enquipmententities.EquipmentZtreeNode">
        SELECT
        id id,
        0 pId,
        companyName name,
        <!--false AS open,-->
        true AS nocheck
        FROM company
        <where>
            validState = '1'
        </where>
    </select>


</mapper>