<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hczx.wms.dao.EquipmentDao">

    <!-- 查找设备信息 -->
    <select id="listEquipmentInfo" resultType="com.hczx.wms.entity.enquipmententities.EquipmentInfoEntity">
        select
        id id,
        equipmentRfid equipmentRfid,
        equipmentName equipmentName,
        equipmentGrade equipmentGrade,
        equipmentClass equipmentClass,
        equipmentPreId equipmentPreId,
        equipmentCompanyId equipmentCompanyId,
        equipmentCompanyName equipmentCompanyName,
        createTime createTime,
        editTime editTime,
        linkingNo linkingNo,
        <!--schemeId schemeId,
        schemeName schemeName,-->
        validState validState,
        occupyState occupyState
        from equipment
        <where>
        1=1
            <if test="equipmentInfoEntity.equipmentRfid !=null and equipmentInfoEntity.equipmentRfid!='' ">
                and equipmentRfid = #{equipmentInfoEntity.equipmentRfid}
            </if>
            <if test="equipmentInfoEntity.equipmentName !=null and equipmentInfoEntity.equipmentName!='' ">
                and equipmentName = #{equipmentInfoEntity.equipmentName}
            </if>
            <if test="equipmentInfoEntity.equipmentGrade !=null and equipmentInfoEntity.equipmentGrade!='' ">
                and equipmentGrade = #{equipmentInfoEntity.equipmentGrade}
            </if>
            <if test="equipmentInfoEntity.equipmentClass !=null and equipmentInfoEntity.equipmentClass!='' ">
                and equipmentClass = #{equipmentInfoEntity.equipmentClass}
            </if>
            <if test="equipmentInfoEntity.equipmentPreId !=null and equipmentInfoEntity.equipmentPreId!='' ">
                and equipmentPreId = #{equipmentInfoEntity.equipmentPreId}
            </if>
            <if test="equipmentInfoEntity.equipmentCompanyId !=null and equipmentInfoEntity.equipmentCompanyId!='' ">
                and equipmentCompanyId = #{equipmentInfoEntity.equipmentCompanyId}
            </if>
            <if test="equipmentInfoEntity.equipmentCompanyName !=null and equipmentInfoEntity.equipmentCompanyName!='' ">
                and equipmentCompanyName like concat('%',#{equipmentInfoEntity.equipmentCompanyName},'%')
            </if>
            <if test="equipmentInfoEntity.validState !=null and equipmentInfoEntity.validState!='' ">
                and validState = #{equipmentInfoEntity.validState}
            </if>
            <if test="equipmentInfoEntity.validState !=null and equipmentInfoEntity.validState!='' ">
                and validState = #{equipmentInfoEntity.validState}
            </if>
            <if test="equipmentInfoEntity.validState ==null">
                and validState = '1'
            </if>
            <if test="equipmentInfoEntity.validState !=null and equipmentInfoEntity.validState!='' ">
                and validState = #{equipmentInfoEntity.validState}
            </if>
        </where>
        <if test="page!=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>

    <!-- 查找设备信息数量 -->
    <select id="countEquipmentInfo" resultType="java.lang.Long">
        select
        count(*)
        from equipment
        <where>
            1=1
            <if test="equipmentInfoEntity.equipmentRfid !=null and equipmentInfoEntity.equipmentRfid!='' ">
                and equipmentRfid = #{equipmentInfoEntity.equipmentRfid}
            </if>
            <if test="equipmentInfoEntity.equipmentName !=null and equipmentInfoEntity.equipmentName!='' ">
                and equipmentName = #{equipmentInfoEntity.equipmentName}
            </if>
            <if test="equipmentInfoEntity.equipmentGrade !=null and equipmentInfoEntity.equipmentGrade!='' ">
                and equipmentGrade = #{equipmentInfoEntity.equipmentGrade}
            </if>
            <if test="equipmentInfoEntity.equipmentClass !=null and equipmentInfoEntity.equipmentClass!='' ">
                and equipmentClass = #{equipmentInfoEntity.equipmentClass}
            </if>
            <if test="equipmentInfoEntity.equipmentPreId !=null and equipmentInfoEntity.equipmentPreId!='' ">
                and equipmentPreId = #{equipmentInfoEntity.equipmentPreId}
            </if>
            <if test="equipmentInfoEntity.equipmentCompanyId !=null and equipmentInfoEntity.equipmentCompanyId!='' ">
                and equipmentCompanyId = #{equipmentInfoEntity.equipmentCompanyId}
            </if>
            <if test="equipmentInfoEntity.equipmentCompanyName !=null and equipmentInfoEntity.equipmentCompanyName!='' ">
                and equipmentCompanyName like concat('%',#{equipmentInfoEntity.equipmentCompanyName},'%')
            </if>
            <if test="equipmentInfoEntity.validState !=null and equipmentInfoEntity.validState!='' ">
                and validState = #{equipmentInfoEntity.validState}
            </if>
            <if test="equipmentInfoEntity.validState !=null and equipmentInfoEntity.validState!='' ">
                and validState = #{equipmentInfoEntity.validState}
            </if>
            <if test="equipmentInfoEntity.validState ==null">
                and validState = '1'
            </if>
            <if test="equipmentInfoEntity.validState !=null and equipmentInfoEntity.validState!='' ">
                and validState = #{equipmentInfoEntity.validState}
            </if>
        </where>
    </select>

    <!-- 查找树形设备信息 -->
    <select id="zTreeEquipmentInfo" resultType="com.hczx.wms.entity.enquipmententities.EquipmentZtreeNode">
        SELECT
            com.id pId,
            com.companyName comName,
            emt.id emtId,
            emt.id id,
            emt.equipmentName name,
            emt.linkingNo linkingNo,
            <!--false AS open,-->
            true AS nocheck
        FROM
            equipment emt
            LEFT JOIN company com ON ( emt.equipmentCompanyId = com.id )
        WHERE
            emt.validState = '1'
            AND emt.equipmentGrade = '1'
            AND com.validState = '1'
    </select>

    <!--作废设备-->
    <update id="nullifyByIds">
        UPDATE
        equipment
        SET validState = '0'
        WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--作废设备-->
    <update id="linkEquipmentByIds">
        UPDATE
        equipment
        SET linkingNo = #{linkNo}
        WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--更新出入库-->
    <update id="updateInboundStateBatchByRfids" parameterType="java.util.ArrayList">
        UPDATE
        equipment
        SET inboundState = #{inboundState}
        WHERE equipmentRfid IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>