<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hczx.wms.dao.PlanDao">

    <!-- 查找设备信息 -->
    <select id="listPlan" resultType="com.hczx.wms.entity.planentities.PlanQueryEntity">
        select
        id id,
        planName planName,
        alarmingId alarmingId,
        schemeId schemeId,
        useState useState,
        imageUrl imageUrl,
        createTime createTime
        from plan
        where
        1=1
        <if test="alarmingId!=null and alarmingId!='' ">
            and alarmingId = #{alarmingId}
        </if>
        <!--        <where>-->
        <!--            <if test="uname!=null and uname!='' ">-->
        <!--                and uname like #{uname}-->
        <!--            </if>-->
        <!--        </where>-->
        <if test="page!=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>

    <!--查询出警设备-->
    <select id="queryTreatTheCasesEquipments" parameterType="java.lang.String" resultType="com.hczx.wms.entity.planentities.PlanEquipmentsEntity">
        SELECT
            plan.id planId,
            plan.alarmingId alarmingId,
            plan.schemeId schemeId,
            ser.equipmentId equipmentId,
	        equipment.equipmentRfid equipmentRfid,
	        equipment.inboundState equipmentInBoundState
        FROM
            plan
            LEFT JOIN alarm_scheme_equipment_rela aser ON(aser.planId = plan.id AND aser.alarmingId = plan.alarmingId AND aser.schemeId = plan.schemeId)
            LEFT JOIN scheme_equipment_rela ser ON(aser.seRelaId = ser.id)
            LEFT JOIN equipment ON(ser.equipmentId = equipment.id)
        WHERE
            plan.id = #{planId}
            AND useState = #{useState}
    </select>

</mapper>