<!DOCTYPE html>
<html class="iframe-h">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/scheme/schemedisplay.css" />
    <style>
        .layui-form-switch{
            border: 0.5px solid #746D6D;
            margin-top: 2px;
            font-size: 4px;
            height: 9px;
            line-height: 9px;
            min-width: 8px;
            width: 0px;
        }
        .layui-form-switch em{
            font-size: 4px;
        }
        .layui-form-switch i{
            border: 0.5px solid #746D6D;
            top: 2px;
            left: 8px;
            width: 6px;
            height: 6px;
        }
        .layui-form-onswitch i{
            border: 0.5px solid #746D6D;
            top: 2px;
            width: 6px;
            margin-left: -4px;
            height: 6px;
        }
        .layui-form-checkbox[lay-skin=primary] i {
            top: 6px;
            width: 8px;
            height: 8px;
            line-height: 8px;
            font-size: 8px;
            border: 0.5px solid #746D6D;
        }
        .layui-form-checkbox[lay-skin=primary] i {
            border: 0.5px solid #746D6D;
            top: 6px;
            width: 8px;
            height: 8px;
            line-height: 8px;
            font-size: 8px;
        }
    </style>
</head>

<body>
<div class="wrap-container clearfix">
    <div class="column-content-detail">
        <div>
            <div class="layui-inline tool-btn" style="vertical-align:top;">
                <button title="方案添加" id="addSchemeBtn" class="layui-btn layui-btn-small layui-btn-normal addSchemeBtn"><i class="layui-icon">&#xe654;</i></button>
                <button class="layui-btn layui-btn-small layui-btn-normal" title="方案搜索" lay-event="searchEquipment" onclick="searchScheme();return false;"><i class="layui-icon">&#xe615;</i></button>
                <!--                <button id="delBtn" class="layui-btn layui-btn-small layui-btn-danger"  data-url="article-add.html"><i class="layui-icon">&#xe640;</i></button>-->
<!--                <button id="listOrderBtn" class="layui-btn layui-btn-small layui-btn-warm hidden-xs" data-url="article-add.html"><i class="iconfont">&#xe656;</i></button>-->
            </div>
            <div class="layui-inline search-form">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <input id="schemeName" type="text" name="title" placeholder="请输入方案名称" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline">
                            <select id="level" name="level" lay-filter="level">
                                <option value="">请选择级别</option>
                                <option value="1">一级</option>
                                <option value="2">二级</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select id="disaster" name="disaster" lay-filter="disaster">
                                <option value="">请选择类别</option>
                                <option value="0">地震</option>
                                <option value="1">火灾</option>
                                <option value="2">水灾</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select id="validState" name="validState" lay-filter="validState">
                                <option value="">请选择状态</option>
                                <option value="1">生效</option>
                                <option value="0">失效</option>
                            </select>
                        </div>
<!--                        <button class="layui-btn layui-btn-normal" lay-submit="search">搜索</button>-->
                    </div>
                </form>
            </div>
        </div>
        <div class="layui-form" id="table-list">

<!--            <form class="layui-form">-->
<!--                <div class="layui-col-xs6 layui-col-md3" style="padding: 15px;text-align: center">-->
<!--                    <div class="layui-inline tool-btn" style="float: left;width: 3px;height: 3px">-->
<!--                        <input type="checkbox" name="schemeLineCbx" lay-skin="primary"  lay-filter="schemeLineCbx">-->
<!--                    </div>-->

<!--                        <div class="layui-inline">-->
<!--                            <input type="checkbox" name="validState" lay-skin="switch" checked="" style="min-width: 0px;height: 0px;">-->
<!--                        </div>-->

<!--                    <div class="layui-inline tool-btn" style="float: right;">-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-normal schemeLineBtn" lay-event="info"><i class="layui-icon" style="color: #323232;">&#xe705;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-warm schemeLineBtn" lay-event="edit"><i class="layui-icon" style="color: #323232;">&#xe642;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-danger schemeLineBtn" lay-event="dels"><i class="layui-icon" style="color: #323232;">&#xe640;</i></button>-->
<!--                    </div>-->
<!--                    <a class="template store-list-box" href="/css/i/463043/1.html"> <img class="store-list-cover" src="http://www.xuebingsi.com/imgi04picsos/a2b45973957d6bf1"> <h2 class="layui-elip">一级警情方案1</h2>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </form>-->
<!--            <form class="layui-form">-->
<!--                <div class="layui-col-xs6 layui-col-md3" style="padding: 15px;text-align: center">-->
<!--                    <div class="layui-inline tool-btn" style="float: left;width: 3px;height: 3px">-->
<!--                        <input type="checkbox" name="schemeLineCbx" lay-skin="primary"  lay-filter="schemeLineCbx">-->
<!--                    </div>-->

<!--                    <div class="layui-inline">-->
<!--                        <input type="checkbox" name="validState" lay-skin="switch" checked="checked" style="min-width: 0px;height: 0px;">-->
<!--                    </div>-->

<!--                    <div class="layui-inline tool-btn" style="float: right;">-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-normal schemeLineBtn" lay-event="info"><i class="layui-icon" style="color: #323232;">&#xe705;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-warm schemeLineBtn" lay-event="edit"><i class="layui-icon" style="color: #323232;">&#xe642;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-danger schemeLineBtn" lay-event="dels"><i class="layui-icon" style="color: #323232;">&#xe640;</i></button>-->
<!--                    </div>-->
<!--                    <a class="template store-list-box" href="/css/i/463043/1.html"> <img class="store-list-cover" src="http://www.xuebingsi.com/imgi04picsos/a2b45973957d6bf1"> <h2 class="layui-elip">一级警情方案1</h2>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </form>-->
<!--            <form class="layui-form">-->
<!--                <div class="layui-col-xs6 layui-col-md3" style="padding: 15px;text-align: center">-->
<!--                    <div class="layui-inline tool-btn" style="float: left;width: 3px;height: 3px">-->
<!--                        <input type="checkbox" name="schemeLineCbx" lay-skin="primary"  lay-filter="schemeLineCbx">-->
<!--                    </div>-->

<!--                    <div class="layui-inline">-->
<!--                        <input type="checkbox" name="validState" lay-skin="switch" checked="checked" style="min-width: 0px;height: 0px;">-->
<!--                    </div>-->

<!--                    <div class="layui-inline tool-btn" style="float: right;">-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-normal schemeLineBtn" lay-event="info"><i class="layui-icon" style="color: #323232;">&#xe705;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-warm schemeLineBtn" lay-event="edit"><i class="layui-icon" style="color: #323232;">&#xe642;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-danger schemeLineBtn" lay-event="dels"><i class="layui-icon" style="color: #323232;">&#xe640;</i></button>-->
<!--                    </div>-->
<!--                    <a class="template store-list-box" href="/css/i/463043/1.html"> <img class="store-list-cover" src="http://www.xuebingsi.com/imgi04picsos/a2b45973957d6bf1"> <h2 class="layui-elip">一级警情方案1</h2>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </form>-->
<!--            <form class="layui-form">-->
<!--                <div class="layui-col-xs6 layui-col-md3" style="padding: 15px;text-align: center">-->
<!--                    <div class="layui-inline tool-btn" style="float: left;width: 3px;height: 3px">-->
<!--                        <input type="checkbox" name="schemeLineCbx" lay-skin="primary"  lay-filter="schemeLineCbx">-->
<!--                    </div>-->

<!--                    <div class="layui-inline">-->
<!--                        <input type="checkbox" name="validState" lay-skin="switch" checked="checked" style="min-width: 0px;height: 0px;">-->
<!--                    </div>-->

<!--                    <div class="layui-inline tool-btn" style="float: right;">-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-normal schemeLineBtn" lay-event="info"><i class="layui-icon" style="color: #323232;">&#xe705;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-warm schemeLineBtn" lay-event="edit"><i class="layui-icon" style="color: #323232;">&#xe642;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-danger schemeLineBtn" lay-event="dels"><i class="layui-icon" style="color: #323232;">&#xe640;</i></button>-->
<!--                    </div>-->
<!--                    <a class="template store-list-box" href="/css/i/463043/1.html"> <img class="store-list-cover" src="http://www.xuebingsi.com/imgi04picsos/a2b45973957d6bf1"> <h2 class="layui-elip">一级警情方案1</h2>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </form>-->
<!--            <form class="layui-form">-->
<!--                <div class="layui-col-xs6 layui-col-md3" style="padding: 15px;text-align: center">-->
<!--                    <div class="layui-inline tool-btn" style="float: left;width: 3px;height: 3px">-->
<!--                        <input type="checkbox" name="schemeLineCbx" lay-skin="primary"  lay-filter="schemeLineCbx">-->
<!--                    </div>-->

<!--                    <div class="layui-inline">-->
<!--                        <input type="checkbox" name="validState" lay-skin="switch" checked="checked" style="min-width: 0px;height: 0px;">-->
<!--                    </div>-->

<!--                    <div class="layui-inline tool-btn" style="float: right;">-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-normal schemeLineBtn" lay-event="info"><i class="layui-icon" style="color: #323232;">&#xe705;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-warm schemeLineBtn" lay-event="edit"><i class="layui-icon" style="color: #323232;">&#xe642;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-danger schemeLineBtn" lay-event="dels"><i class="layui-icon" style="color: #323232;">&#xe640;</i></button>-->
<!--                    </div>-->
<!--                    <a class="template store-list-box" href="/css/i/463043/1.html"> <img class="store-list-cover" src="http://www.xuebingsi.com/imgi04picsos/a2b45973957d6bf1"> <h2 class="layui-elip">一级警情方案1</h2>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </form>-->
<!--            <form class="layui-form">-->
<!--                <div class="layui-col-xs6 layui-col-md3" style="padding: 15px;text-align: center">-->
<!--                    <div class="layui-inline tool-btn" style="float: left;width: 3px;height: 3px">-->
<!--                        <input type="checkbox" name="schemeLineCbx" lay-skin="primary"  lay-filter="schemeLineCbx">-->
<!--                    </div>-->

<!--                    <div class="layui-inline">-->
<!--                        <input type="checkbox" name="validState" lay-skin="switch" checked="checked" style="min-width: 0px;height: 0px;">-->
<!--                    </div>-->

<!--                    <div class="layui-inline tool-btn" style="float: right;">-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-normal schemeLineBtn" lay-event="info"><i class="layui-icon" style="color: #323232;">&#xe705;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-warm schemeLineBtn" lay-event="edit"><i class="layui-icon" style="color: #323232;">&#xe642;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-danger schemeLineBtn" lay-event="dels"><i class="layui-icon" style="color: #323232;">&#xe640;</i></button>-->
<!--                    </div>-->
<!--                    <a class="template store-list-box" href="/css/i/463043/1.html"> <img class="store-list-cover" src="http://www.xuebingsi.com/imgi04picsos/a2b45973957d6bf1"> <h2 class="layui-elip">一级警情方案1</h2>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </form>-->
<!--            <form class="layui-form">-->
<!--                <div class="layui-col-xs6 layui-col-md3" style="padding: 15px;text-align: center">-->
<!--                    <div class="layui-inline tool-btn" style="float: left;width: 3px;height: 3px">-->
<!--                        <input type="checkbox" name="schemeLineCbx" lay-skin="primary"  lay-filter="schemeLineCbx">-->
<!--                    </div>-->

<!--                    <div class="layui-inline">-->
<!--                        <input type="checkbox" name="validState" lay-skin="switch" checked="checked" style="min-width: 0px;height: 0px;">-->
<!--                    </div>-->

<!--                    <div class="layui-inline tool-btn" style="float: right;">-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-normal schemeLineBtn" lay-event="info"><i class="layui-icon" style="color: #323232;">&#xe705;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-warm schemeLineBtn" lay-event="edit"><i class="layui-icon" style="color: #323232;">&#xe642;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-danger schemeLineBtn" lay-event="dels"><i class="layui-icon" style="color: #323232;">&#xe640;</i></button>-->
<!--                    </div>-->
<!--                    <a class="template store-list-box" href="/css/i/463043/1.html"> <img class="store-list-cover" src="http://www.xuebingsi.com/imgi04picsos/a2b45973957d6bf1"> <h2 class="layui-elip">一级警情方案1</h2>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </form>-->
<!--            <form class="layui-form">-->
<!--                <div class="layui-col-xs6 layui-col-md3" style="padding: 15px;text-align: center">-->
<!--                    <div class="layui-inline tool-btn" style="float: left;width: 3px;height: 3px">-->
<!--                        <input type="checkbox" name="schemeLineCbx" lay-skin="primary"  lay-filter="schemeLineCbx">-->
<!--                    </div>-->

<!--                    <div class="layui-inline">-->
<!--                        <input type="checkbox" name="validState" lay-skin="switch" checked="checked" style="min-width: 0px;height: 0px;">-->
<!--                    </div>-->

<!--                    <div class="layui-inline tool-btn" style="float: right;">-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-normal schemeLineBtn" lay-event="info"><i class="layui-icon" style="color: #323232;">&#xe705;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-warm schemeLineBtn" lay-event="edit"><i class="layui-icon" style="color: #323232;">&#xe642;</i></button>-->
<!--                        <button class="layui-btn layui-btn-xs layui-btn-danger schemeLineBtn" lay-event="dels"><i class="layui-icon" style="color: #323232;">&#xe640;</i></button>-->
<!--                    </div>-->
<!--                    <a class="template store-list-box" href="/css/i/463043/1.html"> <img class="store-list-cover" src="http://www.xuebingsi.com/imgi04picsos/a2b45973957d6bf1"> <h2 class="layui-elip">一级警情方案1</h2>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </form>-->

<!--            <table class="layui-table" lay-even lay-skin="nob">-->
<!--                <colgroup>-->
<!--                    <col width="50">-->
<!--                    <col class="hidden-xs" width="50">-->
<!--                    <col class="hidden-xs" width="100">-->
<!--                    <col>-->
<!--                    <col class="hidden-xs" width="150">-->
<!--                    <col class="hidden-xs" width="150">-->
<!--                    <col width="80">-->
<!--                    <col width="150">-->
<!--                </colgroup>-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>-->
<!--                    <th class="hidden-xs">ID</th>-->
<!--                    <th class="hidden-xs">排序</th>-->
<!--                    <th>名称</th>-->
<!--                    <th class="hidden-xs">创建时间</th>-->
<!--                    <th class="hidden-xs">修改时间</th>-->
<!--                    <th>状态</th>-->
<!--                    <th>操作</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <td><input type="checkbox" name="" lay-skin="primary" data-id="1"></td>-->
<!--                    <td class="hidden-xs">1</td>-->
<!--                    <td class="hidden-xs"><input type="text" name="title" autocomplete="off" class="layui-input" value="0" data-id="1"></td>-->
<!--                    <td>玩具</td>-->
<!--                    <td class="hidden-xs">1989-10-14</td>-->
<!--                    <td class="hidden-xs">1989-10-14</td>-->
<!--                    <td><button class="layui-btn layui-btn-mini layui-btn-normal">正常</button></td>-->
<!--                    <td>-->
<!--                        <div class="layui-inline">-->
<!--                            <button class="layui-btn layui-btn-small layui-btn-normal go-btn" data-id="1" data-url="article-detail.html"><i class="layui-icon">&#xe642;</i></button>-->
<!--                            <button class="layui-btn layui-btn-small layui-btn-danger del-btn" data-id="1" data-url="article-detail.html"><i class="layui-icon">&#xe640;</i></button>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td><input type="checkbox" name="" lay-skin="primary" data-id="1"></td>-->
<!--                    <td class="hidden-xs">1</td>-->
<!--                    <td class="hidden-xs"><input type="text" name="title" autocomplete="off" class="layui-input" value="0" data-id="1"></td>-->
<!--                    <td>玩具</td>-->
<!--                    <td class="hidden-xs">1989-10-14</td>-->
<!--                    <td class="hidden-xs">1989-10-14</td>-->
<!--                    <td><button class="layui-btn layui-btn-mini layui-btn-normal">正常</button></td>-->
<!--                    <td>-->
<!--                        <div class="layui-inline">-->
<!--                            <button class="layui-btn layui-btn-small layui-btn-normal go-btn" data-id="1" data-url="article-detail.html"><i class="layui-icon">&#xe642;</i></button>-->
<!--                            <button class="layui-btn layui-btn-small layui-btn-danger del-btn" data-id="1" data-url="article-detail.html"><i class="layui-icon">&#xe640;</i></button>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
            <div class="page-wrap">
                <ul class="pagination">
                    <li class="disabled"><span>«</span></li>
                    <li class="active"><span>1</span></li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/module/common.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="../static/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>-->
<!--<script src="../static/js/scheme/schemeExt.js" type="text/javascript" charset="utf-8"></script>-->
<script src="../static/js/scheme/scheme.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>